@import "static/style/variables.scss";
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

body {
  margin: 0;
  padding: 0;
  font-size:18px;
  font-family: 'Volte2', sans-serif;
  -webkit-font-smoothing: antialiased;
}
button{
  border: none;
  cursor: pointer;
}

@font-face {
    font-family: 'Volte2';
    font-weight: normal;
    src: url('../font/Volte-Regular.otf') format('opentype');
}
@font-face {
    font-family: 'Volte2';
    font-weight: bold;
    src: url('../font/Volte-Bold.otf') format('opentype');
}
@font-face {
    font-family: 'Volte2';
    font-weight: 500;
    src: url('../font/Volte-Medium.otf') format('opentype');
}
@font-face {
    font-family: 'Volte2';
    font-weight: 600;
    src: url('../font/Volte-Semibold.otf') format('opentype');
}
@font-face {
    font-family: 'AftenScreen';
    font-weight: normal;
    src: url('../font/Aften-Screen.ttf') format('truetype');
}
@font-face {
    font-family: 'AftenScreen';
    font-weight: bold;
    src: url('../font/Aften-Screen-Bold.ttf') format('truetype');
}


.container{
  margin: 0 auto;
  width:880px;
  @media (max-width: 1000px){
    width: calc(100% - 90px);
    padding: 0px 40px;
  }
}

h2{
  font-size: 50px;
  line-height: 55px;
  @media (max-width: 1000px){
    font-size: 40px;
    line-height: 44px;
  }
}
h3{
  font-size: 40px;
  line-height: 55px;
}
h5{
  font-size: 18px;
  line-height: 19px;
}

.flames{
  &:before{
    content:'';
    background: url('~static/img/flames.svg') no-repeat;
    background-size: contain;
    width: 26px;
    height: 31px;
    display: inline-block;
    position: relative;
    margin-left: -31px;
    margin-right: 5px;
    @media (max-width: 1000px){
      width: 21px;
      height: 25px;
      margin-left: -24px;
      margin-right: 3px;
    }
  }
}

.no-break-space{
  white-space: nowrap;
}

.Modal{
  &__close {
    position: absolute;
    display: block;
    background-color: $primary-color;
    background-image: url('~static/img/x.svg');
    background-repeat: no-repeat;
    background-position: center;
    width: 42px;
    height: 42px;
    top:0px;
    right: 0px;
    z-index: 100;
    cursor: pointer;
  }
}
