@import "static/style/variables.scss";

.PointsAndMoney{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 10px;

  &-container{
    background-color: #fff;
    box-shadow: $dashboard-shadow;
    padding: 10px 15px;
  }
  &-score:after{
    content: '';
    width:24px;
    height: 24px;
    margin-left:10px;
    display: inline-block;
    background-size: cover;
    background-repeat: none;

    .PointsAndMoney-Points &{
      background-image: url("~static/img/medal.svg");
    }
    .PointsAndMoney-Money &{
      background-image: url("~static/img/money.svg");
    }
  }

  &-value{
    font-size:36px;
    font-weight: 600;
  }
  &-unit{
    font-size:18px;
    font-weight: 600;
    margin-left:5px;
    text-transform: uppercase;
  }
  &-description{
    font-size: 14px;
    line-height: 1;
    font-family: "AftenScreen";
    margin: 0;
  }
}
