@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

body {
  margin: 0;
  padding: 0;
  font-size:18px;
  font-family: 'Volte2', sans-serif;
  -webkit-font-smoothing: antialiased;
}
button{
  border: none;
}

@font-face {
    font-family: 'Volte2';
    font-weight: normal;
    src: url('../font/Volte-Regular.otf') format('opentype');
}
@font-face {
    font-family: 'Volte2';
    font-weight: bold;
    src: url('../font/Volte-Bold.otf') format('opentype');
}
@font-face {
    font-family: 'Volte2';
    font-weight: 600;
    src: url('../font/Volte-Semibold.otf') format('opentype');
}
@font-face {
    font-family: 'AftenScreen';
    font-weight: normal;
    src: url('../font/Aften-Screen.ttf') format('truetype');
}
@font-face {
    font-family: 'AftenScreen';
    font-weight: bold;
    src: url('../font/Aften-Screen-Bold.ttf') format('truetype');
}



.container{
  margin: 0 auto;
  width:880px;
}

h2{
  font-size: 50px;
  line-height: 55px;
}
h3{
  font-size: 40px;
  line-height: 55px;
}
h5{
  font-size: 18px;
  line-height: 19px;
}

.flames{
  &:before{
    content:'';
    background: url('../img/flames.svg') no-repeat;
    width: 26px;
    height: 31px;
    display: inline-block;
    position: relative;
    margin-left: -31px;
    margin-right: 5px;
  }
}
