body {
  margin: 0;
  padding: 0;
  font-size:18px;
  font-family: 'Volte2', sans-serif;
}
@font-face {
    font-family: 'Volte2';
    font-weight: normal;
    src: url('../font/Volte-Regular.otf') format('opentype');
}
@font-face {
    font-family: 'Volte2';
    font-weight: bold;
    src: url('../font/Volte-Bold.otf') format('opentype');
}
@keyframes arrow-bounce {
  0%   { top: 0; }
  50%  { top: 15px;}
  100% { top: 0; }
}
.videoHeader{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;

}
.videoHeader__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
@media (min-aspect-ratio: 16/9) {
  .videoHeader__video {
    height: 300%;
    top: -100%;
  }
}

@media (max-aspect-ratio: 16/9) {
  .videoHeader__video {
    width: 300%;
    left: -100%;
  }
}
.videoHeader__content{
    position: absolute;
    top: 0;
    bottom:0;
    left: 0;
    right:0;
    width: 25%;
    height:25%;
    margin: auto;
    z-index:1;
    text-align: center;
}
.videoHeader__logo{
    width: 100%;
}

.bfmProgress{
  margin-top: 100%;
}


.strava-contanier{
  display:flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
}
.strava-contanier .logo{
  margin-bottom: 30px;
}

.strava-contanier p{
  text-align: center;
}

.authorizeIndicator{
  margin: 0 auto 30px;
}
.authorizeIndicator p{
  color: #3D3D3D;
  font-size:28px;
  font-weight: bold;
  margin-bottom: 10px;
}
.authorizeArrow{
    display: block;
    margin: 0 auto;
    position: relative;
    animation: arrow-bounce 1.8s infinite;

}

.bigButton{
  margin: 0 auto;
  position: relative;
  width:180px;
  height: 180px;

}
.bigButton:hover .bigButtonTop{
  top:20px;
}
.bigButtonTop{
  position: absolute;
  display: block;
  top:0;
  left: 23px;
  width:134px;
  transition: top 0.2s ;
}
.bigButtonBottom{
  position: absolute;
  display: block;
  top:71px;
  width:100%;
}
