@import "style/variables.scss";

.VideoHeader{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;

  &__background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    @media (min-aspect-ratio: 16/9) {
      height: 400%;
      top: -150%;
    }
    @media (max-aspect-ratio: 16/9) {
      width: 400%;
      left: -150%;
    }
  }
  &__video {
    position: relative;
  }
  &__close {
    position: absolute;
    display: block;
    background-color: $primary-color;
    background-image: url('~img/x.svg');
    background-repeat: no-repeat;
    background-position: center;
    width: 42px;
    height: 42px;
    top:0px;
    right: 0px;
    z-index: 100;
    cursor: pointer;
  }
  &__content{
    position: absolute;
    top: 0;
    bottom:0;
    left: 0;
    right:0;
    width: 585px;
    height: 45%;
    margin: auto;
    z-index:1;
    text-align: left;
    @media (max-width: 1000px){
      width:425px;
      height: 40%;
    }
    @media (max-width: 550px){
      width:310px;
    }
  }
  &__logo{
    position: relative;
    margin-bottom: 15px;
    left:-30px;
    @media (max-width: 1000px){
      width: 150px;
      left:-22px;
    }
  }
  &__title{
    font-size:7vh;
    line-height: 6vh;
    font-family: "Volte2";
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
    @media (max-width: 1000px){
      font-size: 50px;
      line-height: 40px;
    }
    @media (max-width: 550px){
      font-size: 35px;
      line-height: 25px;
    }

    &-line{
      display: inline-block;
      background-color: #B4E6FF;
      padding: 10px 110px 0 10px;
      margin-bottom: 2px;
      @media (max-width: 1000px){
        padding-right: 75px;
      }
      @media (max-width: 550px){
        padding-right: 55px;
      }
    }
  }
  &__openVideo{
    background-color: #B4E6FF;
    border-radius: 25px;
    font-family: "Volte2";
    font-weight: bold;
    font-size: 18px;
    padding: 10px 15px 10px 10px;
    cursor: pointer;

    &:before{
      content:'';
      background: url('../img/playBtn.svg');
      background-size: contain;
      display: inline-block;
      width: 25px;
      height:25px;
      vertical-align: bottom;
      margin-right: 10px;

    }
  }
  &__goDown{
    width:60px;
    height:60px;
    display: block;
    background-color: #000;
    background-image: url('../img/arrowhead-down-blue.svg');
    background-repeat: no-repeat;
    background-position: center 22px;
    border-radius: 30px;
    cursor: pointer;
    position: absolute;
    z-index: 1;
    bottom: 40px;
    left: 0;
    right:0;
    margin: auto;
  }

  &__logoMw{
    z-index: 1;
    position: absolute;
    top:40px;
    left:40px;
  }
  &__award{
    z-index: 1;
    position: absolute;
    top:40px;
    right:70px;
    max-width:40%;

  }
}
