@import "style/variables.scss";

.Footer{
  padding: 50px 0 50px;

  &__text{
    font-size: 24px;
    margin-bottom: 30px;
  }
  &__button{
    display: inline-block;
    background-color: $primary-color;
    border-radius: 25px;
    padding: 15px 30px;
    color: #000;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
  }
}
