@import "static/style/variables.scss";

.ActivitiesContribution{
  background-color: #fff;
  box-shadow: $dashboard-shadow;
  padding: 10px 15px;
  box-sizing: border-box;
  height: 100%;

  &-list{
    padding: 0;
    margin: 0;
    list-style: none;
  }

  &-item{
    display: flex;
    align-items: center;
    padding: 15px 0;
    border-bottom:1px solid rgba(99,99,99,0.05);
    &:last-of-type{
      border-bottom: none;
    }

    &__category{
      font-size: 14px;
      font-family: 'AftenScreen';
      width:25%;

      &__icon{
        max-width: 24px;
        max-height: 24px;
        vertical-align: middle;
        margin-right: 10px;
      }
    }
    &__progress{
      width:60%;
      &Bar{
        height: 20px;
        border-radius: 10px;
        background: rgb(180,230,255);
        background: linear-gradient(90deg, rgba(0,177,255,1) 0%, rgba(180,230,255,1) 100%);
      }
    }

    &__stats{
      width:15%;
      font-size: 34px;
      font-weight: bold;
      text-align: right;
    }

  }

  &-bar{
    grid-area: progressBar;
    background-color: #F5F6FA;
    box-shadow: inset 0 1px 3px rgba(0,0,0,0.1);
    width:100%;
    height:20px;
    border-radius: 20px;
    overflow: hidden;
    &Progress{
      width:50%;
      height: 100%;
      border-radius: 20px;
      background: linear-gradient(to right, #EDA697 0%, #FCC5BA 100%)
    }
  }

  &-finishingLine{
    grid-area: finishingLine;
    width:50px;
    img{
      width: 100%;
    }
  }
}
