@import "style/variables.scss";

.TeamGoals{
  padding: 50px 0 30px;
  background-color: #fff;

  &__container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    @media (max-width: 700px){
      grid-template-columns: 1fr;
    }

  }

  &__team{
    align-self:center;
    @media (max-width: 700px){
      justify-self:center;
    }
    &-image{
      display: block;
      max-width: 100%;
      margin:0 0 10px;
    }
  }

  &__goals{
    align-self:center;
    &-header{
      font-weight: bold;
      margin:0;
    }

    &-text{
      font-size:24px;
      line-height: 28px;
      margin:10px 0;
    }
  }

}
