@import "style/variables.scss";

.TeamGoals{
  padding: 50px 0 50px;
  background-color: #fff;

  &__header{
    font-weight: bold;
    margin:30px 0 0px;
  }

  &__image{
    float:left;
    margin-right: 30px;
  }
  p{
    font-size:24px;
    margin:10px 0;
  }
  &__list{
    list-style-position: inside;
    margin:10px 0;

    &-item{
      font-size:24px;
      font-weight: bold;
      line-height: 28px;
      margin:5px 0;
    }
  }
}
