@import "style/variables.scss";

.CharitySlider{
  padding: 50px 0 75px;
  background-color: $secondary-color;

  &__prev,
  &__next{
    display: block;
    background: transparent;
    border: 1px solid #000;
    padding: 15px 15px;
    cursor:pointer;
  }

  &__slider{
    .slick-dots li button:before{
      font-size:12px;
      opacity:1;
      color:#fff;
    }
    .slick-dots li.slick-active button:before{
      color:#000;
    }
    .slick-prev,
    .slick-next{
      border-radius: 50% 50%;
      background: #fff;
      width: 30px;
      height: 30px;
      padding: 5px;
      &:before{
        content:'';
        opacity: 1;
        background-repeat: no-repeat;
        background-position: center center;
        width: 20px;
        height: 20px;
        display: block;
      }
    }

    .slick-prev{
      left: -40px;
      &:before{
        background-image:url("img/arrow-right-black.svg");
        transform: rotate(180deg);
      }
    }
    .slick-next{
      right: -40px;
      &:before{
        background-image:url("img/arrow-right-black.svg");
      }
    }
  }

  &__item{
    &-date{
      margin: 0;
    }
    &-name{
      margin-top: 0;
      font-size:24px;
    }
  }
}
