.VideoHeader {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100; }
  .VideoHeader__background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
    @media (min-aspect-ratio: 16 / 9) {
      .VideoHeader__background {
        height: 300%;
        top: -100%; } }
    @media (max-aspect-ratio: 16 / 9) {
      .VideoHeader__background {
        width: 300%;
        left: -100%; } }
  .VideoHeader__video {
    position: relative; }
  .VideoHeader__close {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 10px;
    right: 10px; }
  .VideoHeader__content {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 50vw;
    height: 40%;
    margin: auto;
    z-index: 1;
    text-align: left; }
  .VideoHeader__logo {
    position: relative;
    margin-bottom: 15px;
    left: -30px; }
  .VideoHeader__title {
    font-size: 7vh;
    line-height: 6vh;
    font-family: "Volte2";
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px; }
    .VideoHeader__title-line {
      display: inline-block;
      background-color: #B4E6FF;
      padding: 10px 110px 0 10px;
      margin-bottom: 2px; }
  .VideoHeader__openVideo {
    background-color: #B4E6FF;
    border-radius: 25px;
    font-family: "Volte2";
    font-weight: bold;
    font-size: 18px;
    padding: 10px 15px 10px 10px;
    cursor: pointer; }
    .VideoHeader__openVideo:before {
      content: '';
      background: url("../../img/playBtn.svg");
      display: inline-block;
      width: 25px;
      height: 25px;
      vertical-align: bottom;
      margin-right: 10px; }
  .VideoHeader__goDown {
    width: 60px;
    height: 60px;
    display: block;
    background-color: #000;
    background-image: url("../../img/arrow-down.svg");
    background-repeat: no-repeat;
    background-position: center 22px;
    border-radius: 30px;
    cursor: pointer;
    position: absolute;
    z-index: 1;
    bottom: 40px;
    left: 0;
    right: 0;
    margin: auto; }
  .VideoHeader__logoMw {
    z-index: 1;
    position: absolute;
    top: 40px;
    left: 40px; }
  .VideoHeader__award {
    z-index: 1;
    position: absolute;
    top: 40px;
    right: 40px; }
