@import "style/variables.scss";

.RankingFilter{
  list-style: none;
  text-align: center;
  &Item{
      display: inline-block;
      font-size: 14px;
      font-family: "AftenScreen";
      padding: 5px 15px;
      margin: 0px 3px 6px;
      border: 1px solid $pink-salmon;
      border-radius: 12px;
      background-color: #fff;
      cursor: pointer;
      &.active{
        background-color:$pink-salmon;
        color:#fff;
      }
  }
}
