@import "static/style/variables.scss";

.TimeAndDistance{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 50px;

  &-container{
    background: rgb(180,230,255);
    background: linear-gradient(90deg, rgba(0,177,255,1) 0%, rgba(180,230,255,1) 100%);
    color: #fff;
    box-shadow: $dashboard-shadow;
    padding: 15px 15px;
    position: relative;
  }

  &-value{
    font-size:36px;
    font-weight: 600;
  }
  &-unit{
    font-size:18px;
    font-weight: 600;
    margin-left:5px;
    margin-right: 10px;
    text-transform: uppercase;
  }
  &-description{
    font-size: 14px;
    line-height: 1;
    font-family: "AftenScreen";
    margin: 0;
  }
  &-icon{
    width:50px;
    position: absolute;
    right: 15px;
    top: 0;
    bottom: 0;
    margin: auto;
  }
}
