@import "style/variables.scss";

.TotalNumbers{
  margin-top: 100vh;
  padding: 50px 0 50px;
  background-color: #fff;
  @media (max-width: 650px){
      padding-top:20px;
  }

  &__header{
    font-weight: normal;
  }

  &__equation{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    @media (max-width: 650px){
        flex-wrap: wrap;
    }

    &-circle{
      background-color: $primary-color;
      width: 240px;
      height: 240px;
      border-radius:120px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      font-weight: bold;
      font-size: 19px;
      line-height: 1;
      @media (max-width: 1000px) and (min-width: 551px){
        width: 24vw;
        height: 24vw;
        border-radius: 12vw;
        font-size: 2vw;
      }
      @media (max-width: 550px){
        width: 50vw;
        height: 50vw;
        border-radius: 50%;
        margin: 0 auto;
      }
    }
    &-value{
      font-size: 40px;
      @media (max-width: 1000px) and (min-width: 551px){
        font-size: 4vw;
      }
    }

    &-operator{
      font-size: 60px;
      font-weight: bold;
      @media (max-width: 1000px) and (min-width: 551px){
        font-size: 6vw;
      }
      @media (max-width: 550px){
        width: 100%;
        height: 60px;
        text-align: center;
      }
    }
  }
}
