@import "style/variables.scss";

.Dashboard {
  background-color: #F5F6FA;
  width: 100%;
  display: grid;
  grid-template-columns: 185px 1fr;
  grid-template-areas: "side main";

  @media only screen and (max-width: 600px) {
    grid-template-columns: 1fr;
    grid-template-areas:
    "main"
    "side";
  }

  &-side{
    grid-area: side;
    height: 100vh;
    background-color: #122833;
    padding: 25px 15px;
    box-sizing: border-box;;
    @media only screen and (max-width: 600px) {
      height:50px;
      width: 100%;
      padding: 0;
      position: fixed;
      bottom: 0;
    }
  }
  &-main{
    grid-area: main;
  }
  &-logo{
    @media only screen and (max-width: 600px) {
      display: none;
    }
  }

  &-content{
    max-width: 1180px;
    margin: 0 auto;
    padding: 50px 30px;
    @media only screen and (max-width: 600px) {
      padding: 30px 10px;
    }
  }

  &Grid{
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: 75px auto;
    grid-template-areas:
      "progress results"
      "contribution ranking";
    grid-column-gap: 40px;
    grid-row-gap: 30px;

    &Item{
      &-progress{
        grid-area: progress;
      }
      &-results{
        grid-area: results;
      }
      &-contribution{
        grid-area: contribution;
      }
      &-ranking{
        grid-area: ranking;

        &Header{
          display:flex;
          padding-bottom: 20px;
          align-items: center;
          justify-content: space-between;
          &-title{
            margin: 0;
          }
          &-link{
            font-size: 14px;
            text-decoration:underline;
            font-family: 'AftenScreen';
            color:#000;
            &:after{
              content:'';
              display: inline-block;
              width: 13px;
              height: 12px;
              margin-left: 5px;
              background-image: url('~img/arrowRightPink.svg');
              vertical-align: middle;
            }
          }
        }
        &Content{
          padding:20px;
          background: #fff;
          box-shadow: $dashboard-shadow;
        }
      }
    }
  }

  .Navigation{
    color: $light-gray;
    list-style: none;
    width: 100%;
    margin: 40px 0 0;
    padding: 0;
    @media only screen and (max-width: 600px) {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      grid-template-areas: "dashboard participants newActivity beneficiaries rules";
      margin: 0;
      padding-top: 3px;
      height: 47px;
    }

    &Item{
      margin-bottom: 30px;
      &-link{
        color: $light-gray;
        text-decoration: none;
        font-family: "Volte2";
        font-weight: 500;
        font-size: 14px;
        @media only screen and (max-width: 600px) {
          text-align: center;;
        }
      }
      &-icon{
        vertical-align: middle;
        display: inline-block;
        @media only screen and (max-width: 600px) {
          width:100%;
        }
      }
      &-text{
        margin-left: 5px;
        display: inline-block;
        vertical-align: middle;
        @media only screen and (max-width: 600px) {
          width:100%;
          font-size: 10px;
          margin-left: 0;
        }

      }
      &__dashboard{
        grid-area: dashboard;
      }
      &__participants{
        grid-area: participants;
      }
      &__beneficiaries{
        grid-area: beneficiaries;
      }
      &__rules{
        grid-area: rules;
      }
      &__addActivity{
        grid-area: newActivity;
        position: absolute;
        bottom: 50px;
        @media only screen and (max-width: 600px) {
          position: static;
          bottom: auto;
        }
        a {
          background-color: $pink-salmon;
          color: #122833;
          font-size: 16px;
          font-weight: bold;
          width: 155px;
          height: 45px;
          line-height: 45px;
          display: block;
          text-align: center;
          text-decoration: none;

          @media only screen and (max-width: 600px){
            background-color: transparent;
            width: auto;
            color: $pink-salmon;
            font-size: 12px;
            height: auto;
            line-height: initial;
            font-weight: 500;
          }
        }
      }
    }

  }
}

.Button{
  border-radius:25px;
  border: none;
}
input {
  &[type="date"],
  &[type="text"],
  &[type="number"]{
    color:#000;
    font-family:'AftenScreen', sans-serif;
    font-size: 16px;
    box-sizing: border-box;
    background-color: #fff;
    height: 45px;
    border: 1px solid $lighter-gray;
    border-radius: 5px;
    padding: 5px 5px 5px 20px;
    position: relative;
    outline: none;

    &:focus{
      border-color:$pink-salmon;
    }
  }

  &[type="date"]{
    padding-right: 0px;

    &::-webkit-calendar-picker-indicator{
      width:45px;
      height: 45px;
      color: rgba(0,0,0,0);
      background-color: #fff;
    }
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    &:after{
      content:'';
      width:45px;
      height:45px;
      position: absolute;
      right: 0;
      top:0;
      background:url('~img/icon-calendar.svg') no-repeat center center;
      background-size: auto;
      cursor: pointer;
      pointer-events: none;
      border-left: 1px solid $lighter-gray;
    }
    &:focus:after{
      border-left-color: $pink-salmon;
    }
  }
}
